argon2-cffi
arrow
asgiref
bcrypt
certifi
cffi
chardet
Django>=3.0.6,<3.1
dnspython
Faker
idna
protobuf
pycparser
pypi
python-dateutil
pytz
requests
six
sqlparse
text-unidecode
urllib3
