<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="container">
      <div class="jumbotron">
          <h1>Hello mayavi</h1>

      </div>

  </div>

  </body>
</html>
<!-- {% extends "myblog/base.html" %}

{% block body_block %}

<style>
  body{
        background-image: url("/static/images/about_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        background-attachment: fixed;
    }
</style>
{% endblock %} -->
